*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../Imagenes/fondodeadpool3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
main{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  padding: 1rem;
}
header{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgb(8, 8, 8);
  padding: 10px 0;
  position: sticky;
  top: 0;
}
header a {

  text-decoration: none;
  padding: 0;
  width: auto;

}
header img {
  width: 64px;
  height: 64px;
}

.navcentro{

  color: rgb(192, 12, 12);
  margin: 0 10px;
  text-shadow: 2px 2px 2px rgba(226, 227, 231, 0.226);
  font-family: 'deadpoolLetras';
  font-size: 20px;
  transition: 0.2s ease-in;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;

}
.navcentro:hover {
  scale: 1.01;
}
.h1-deadpool{
  display: flex;
  align-items: center;
  gap: 25px;
  white-space: nowrap;
  
}
.h1-deadpool h1{
  font-family: 'deadpoolLetras';
  text-shadow: 3px 2px 5px rgb(255 255 255);
  color: rgb(133 16 16);
  font-size: 30px;
  text-decoration: none;
}
.centro{
  text-align: center;
}
.encabezados {
  color: #000000;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.849);
  font-family: 'deadpoolLetras';
  font-size: 35px;
  text-align: center;
  transition: 0.2s ease-in;
  margin-top: 2%;
  
}
.encabezados:hover {
  scale: 1.01;
}
figure{
  text-align: center;
}
.listas{ 
  font-family: 'deadpoolLetras';
  font-size: 26px;
  margin-left: 17%;
  margin-right: 20%;
  text-shadow: 2px 3px 2px black;
  margin-top: 2%;
  margin-bottom: 2%;
  color: white;
}
.texto{
  color: white;
  font-family: 'deadpoolLetras';
  font-size: 28px;
  text-align: center;
  text-shadow: 2px 3px 2px black;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
}
.sinopsis{
  color: white;
  font-family: 'deadpoolLetras';
  font-size: 28px;
  text-align: center;
  text-shadow: 2px 3px 2px black;
  margin-top: 1%;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
}
.dedosdeadpool{
  width: 900px;
  height: 450px;
}
.strong{
  color: rgba(90, 90, 87, 0.904);
  text-shadow: 2px 3px 2px black;
}
.imgHistoria{
  width: 550px;
  height: 650px;
}
.img{
  width: auto;
  height: 400px;
  margin-right: 4%;
}
footer .color{
	color: rgb(141, 5, 5); 
  text-decoration: solid;  
  margin: 0 10px;
  text-shadow: 2px 2px 2px rgba(88, 90, 228, 0.582);
  font-family: 'deadpoolLetras';
  font-optical-sizing: auto;
  font-style: normal;
}
footer{
  margin-top: 50px;
	background-color: rgb(0, 0, 0);
  padding: 30px 0;
  text-align: center;
  margin: -1px 0;
}
footer p{
  text-align: center;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;  
	color: rgb(255, 255, 255);
}
.Derechos{
  text-align: center;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;  
	color: rgb(255, 255, 255);
}
.encabezado{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.849);
  font-family: 'deadpoolLetras';
  font-size: 21px;
  text-align: center;
  color: #ffdc30;
  margin-top: 2%;

}
@font-face {
  font-family: 'deadpoolLetras';
  src: url(./../fuente\ tipografia/DeadpoolMovie-9AzL.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
figure{
  text-align: center;
}
.regreso{
  text-align: center;
  font-family: 'deadpoolLetras';
  color: white;
  text-shadow: 0px 2px 0px black;
  font-size: 17px;
}
.audio{
  width: 18%;
  display: block;
  margin-left: 40%;
}
@media screen and (max-width: 1100px) {
  .imgHistoria {
    width: 60%;
    height: auto;
}
  .img {
    width: 60%;
    height: auto;
}
  .sinopsis{
    font-size: 20px;
  }
  .audio{
    width: 50%;
    display: block;
    margin-left: 25%;
  }
  body {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: hidden;
  }

  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 10px;
    position: static;
  }
  .h1-deadpool img{
    flex-direction: column;
    gap: 5px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .h1-deadpool {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
  .h1-deadpool h1 {
    font-size: 22px;
  }
  .navcentro {
    font-size: 16px;
    margin: 5px auto;
    display: block;
    width: 100%;
  }
  .div-estructura {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  footer {
    padding: 20px 10px;
  }
}@media screen and (max-width: 500px) {
  .encabezados{
    font-size: 15px;
  }
  .audio{
   width:75%;
   margin-left: 15%;
   display: block;
  }
  .texto{
    color: white;
    font-family: 'deadpoolLetras';
    font-size: 15px;
    text-shadow: 2px 3px 2px black;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .encabezado{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.849);
    font-family: 'deadpoolLetras';
    font-size: 20px;
    text-align: center;
    color: #ffdc30;
    margin-top: 2%;
  }
  .img{
    width: auto;
    height: 200px;
  }
  .imgHistoria{
    width: 300px;
    height: 340px;
  }
  .listas{
    font-family: 'deadpoolLetras';
    font-size: 18px;
    text-shadow: 2px 3px 2px black;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    margin-left: 0%;
    margin-right: 0%;
  }
  .sinopsis{
  color: white;
  font-family: 'deadpoolLetras';
  font-size: 15px;
  text-shadow: 2px 3px 2px black;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}
  body {
    flex-wrap: nowrap;
    overflow-x: hidden;
  }

  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 10px;
    position: static;
  }

  .h1-deadpool {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }

  .h1-deadpool h1 {
    font-size: 22px;
  }

  .navcentro {
    font-size: 16px;
    margin: 5px auto;
    display: block;
    width: 100%;
  }
  .div-estructura {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  footer {
    padding: 20px 10px;
  }
}